@model RahalWeb.Models.EmployeeSalary

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EmployeeSalary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSalaryYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSalaryYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSalaryMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSalaryMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSpecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSpecial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddBasicSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddBasicSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddFood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddFood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddSpecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddSpecial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddTravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddTravel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeductPenality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeductPenality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeductAdvance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeductAdvance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeductRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeductRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDeduuct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDeduuct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Net)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Net)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryRecieved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryRecieved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
