@model RahalWeb.Models.PasswordDatum

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PasswordDatum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecievedPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecievedPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompSave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompSave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpArchive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpArchive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarSave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarSave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cardelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cardelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarArchive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarArchive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractDailyView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractDailyView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractDailySave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractDailySave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractDailyEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractDailyEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractMonthlyView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractMonthlyView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractChangeCar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractChangeCar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractMonthlySave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractMonthlySave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractMonthlyEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractMonthlyEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractArchive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractArchive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaySave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaySave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitSave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitSave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacationView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacationView)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DebitLatePay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DebitLatePay)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
