@model RahalWeb.Models.DebitPayInfo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DebitPayInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitPayNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitPayNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitPayDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitPayDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitPayQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitPayQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRecievedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRecievedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteReson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteReson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitInfo!.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User!.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRecieved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRecieved!.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViolationInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViolationInfo!.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
