@model RahalWeb.Models.DebitInfo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DebitInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitDescrp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitDescrp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViolationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViolationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteReson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteReson)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
