@model RahalWeb.Models.CompanyDebit

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CompanyDebit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompDebitNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompDebitNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayedQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayedQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReminderQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReminderQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitReson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitReson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfoRecieve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserInfoRecieve.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
