@model RahalWeb.Models.Bill

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillPayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillPayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRecievedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRecievedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRecievedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRecievedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankIntNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankIntNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankBillNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankBillNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillHent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillHent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteReson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteReson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
