@model RahalWeb.Models.DeffEmpTreatment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DeffEmpTreatment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeffCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeffCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeffName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeffName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteFlag)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
