@model RahalWeb.Models.DeffEmpTreatment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DeffEmpTreatment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeffCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeffCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeffName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeffName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteFlag)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
