@model RahalWeb.Models.Deff

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 dir="rtl">التفاصيل</h1>

<div>
    <h4>Deff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeffName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeffName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeffCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeffCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeffParent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeffParent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeffNameEng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeffNameEng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeffTypeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeffTypeNavigation!.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
